/* Estilização Div Projetos*/
.div-projects-section {
    background-color: #121212;
    padding-bottom: 40px;
}

.title {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.title h1 {
    color: #ffff;
    font-size: 1.7rem;
    border-bottom: 1px solid #10D7E2;
}

.container-projetos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.opacity0 {
    display: flex;
    opacity: 0;
    position: absolute;
    justify-content: center;
    align-items: center;
    gap: 20px;
    bottom: 100px;
    z-index: 1;
    transition: 0.3s
}

.opacity1 {
    display: flex;
    opacity: 1;
    position: absolute;
    justify-content: center;
    align-items: center;
    gap: 20px;
    bottom: 130px;
    z-index: 1;
    transition: 0.3s
}

.project .img-hover{
    width: 35px;
    height: 35px;
    filter: invert();
}

#css-icon {
    width: 42px;
    height: 43px;
}

.project img{
    height: 500px;
    width: 340px;
    border-radius: 15px;
    transition: 0.3s;
}

.project-img img:hover {
    filter: blur(4px);
}

/* Estilização Buttons */
.container-btn {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    padding: 20px;
}

.container-btn button{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    gap: 10px;
    width: 120px;
    font-size: 0.9rem;
    color: #ffff;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.0rem;
    padding-right: 1.0rem;
    cursor: pointer;
}

.container-btn img {
    width: 20px;
    height: 20px;
}

.btn-git {
    border: solid 2px transparent;
    background-image: linear-gradient(#9358f7, #10D7E2), linear-gradient(-100deg, #10D7E2, #9358f7);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #121212 inset;
}

.btn-deploy {
    border: solid 2px transparent;
    background-image: linear-gradient(#D24074, #6518B4), linear-gradient(120deg, #D24074, #6518B4);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #121212 inset;
}

