footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #121212;
    height: 100px;
    width: 100%;
    gap: 36%;
}

footer p {
    color: #c4c4c4;
    font-size: 1rem;
}

.pwrdby {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    gap: 8px;
}

.pwrdby p {
    font-size: 1rem;
}

.pwrdby img {
    width: 24px;
}

/* Responsividade */
@media (max-width: 545px) {
    footer {
        gap: 10%;
    }

    footer p {
        font-size: 0.8rem;
    }

    .pwrdby img {
        width: 20px;
    }

    .pwrdby p {
        font-size: 0.8rem;
    }
}
